@model KonusarakOgren.Model.Exam.Response.ExamGetAllResponseModel
<div class="container p-5">
    <div class="row">
        <table class="table-sm w-75">

            <tr class="mb-5" style="font-size: 20px; border: 2px solid black">
                <th class="pl-3">#</th>
                <th>Başlık</th>
                <th>Tarih</th>
                <th></th>

            </tr>
            
           @for (int i = 0; i < Model.Exams.Count; i++)
           {
               <tr>
                    <td class="pl-3">@Model.Exams[i].Id</td>
                    <td style="width: 350px">
                        @{
                            var substring = @Model.Exams[i].Title;
                            if (@Model.Exams[i].Title.Length > 28)
                            {
                                substring = @Model.Exams[i].Title.Substring(0, 28);
                                substring += "...";
                            }

                        }
                        @substring
                    </td>
                    <td>@Model.Exams[i].DateTime</td>
                    <td>
                        <a asp-controller="Exam" asp-action="DeleteExam" asp-route-examId="@Model.Exams[i].Id">Sil</a>
                    </td>

                </tr>
            }
           





        </table>
    </div>
</div>