@model KonusarakOgren.Model.Exam.Response.ExamGetExamResponseModel
@section Scripts
{
    <script>
            $(function(){
         
    $(".color1").click(function(){
        $(this).css("background-color", "yellow")
        $(".color1").not(this).css("background-color", "")
    })
                $(".color2").click(function(){
                    $(this).css("background-color", "yellow")
                    $(".color2").not(this).css("background-color", "")
                })
                $(".color3").click(function(){
                    $(this).css("background-color", "yellow")
                    $(".color3").not(this).css("background-color", "")
                })
                $(".color4").click(function(){
                    $(this).css("background-color", "yellow")
                    $(".color4").not(this).css("background-color", "")
                })
    
            });
        </script>
}
<div class="container pt-5">
    <div class="row justify-content-center">
        <h3 class="">@Model.Title</h3>
    </div>
    <div class="row mt-3">
        <p>@Model.Content</p>
    </div>
    @for (int i = 0; i < Model.ExamQuestions.Count; i+=2)
    {
        <div class="row mt-4">
            <div class="col pr-5 pl-0">
                <p>@(i+1)) @Model.ExamQuestions[i].Question</p>
                <ul class="list-unstyled">
                    <li>
                        <div class="form-check p-0">
                            <input class="form-check-input " type="radio" name="A" id="A" value="A" style="display: none;" checked>
                            <label class="form-check-label border border-dark color@(i+1) pl-4 pr-4 pt-1 pb-1 mb-1" for="A" style="width: 100%">
                                A) @Model.ExamQuestions[i].OptionA
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check p-0">
                            <input class="form-check-input " type="radio" name="A" id="B" value="B"  style="display: none;" checked>
                            <label class="form-check-label border border-dark color@(i+1) pl-4 pr-4 pt-1 pb-1 mb-1" for="B" style="width: 100%">
                                A) @Model.ExamQuestions[i].OptionB
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check p-0">
                            <input class="form-check-input " type="radio" name="A" id="C" value="C"  style="display: none;" checked>
                            <label class="form-check-label border border-dark color@(i+1) pl-4 pr-4 pt-1 pb-1 mb-1" for="C" style="width: 100%">
                                A) @Model.ExamQuestions[i].OptionC
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check p-0">
                            <input class="form-check-input " type="radio" name="A" id="D" value="D"  style="display: none;" checked>
                            <label class="form-check-label border border-dark color@(i+1) pl-4 pr-4 pt-1 pb-1 mb-1" for="D" style="width: 100%">
                                A) @Model.ExamQuestions[i].OptionD
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
             <div class="col pr-0 pl-5">
                            <p>@(i+2)) @Model.ExamQuestions[i+1].Question</p>
                            <ul class="list-unstyled ">
                                <li>
                                    <div class="form-check p-0">
                                        <input class="form-check-input " type="radio" name="A" id="A" value="A"  style="display: none;" checked>
                                        <label class="form-check-label border border-dark color@(i+2) pl-4 pr-4 pt-1 pb-1 mb-1" for="A" style="width: 100%">
                                            A) @Model.ExamQuestions[i+1].OptionA
            
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check p-0">
                                        <input class="form-check-input " type="radio" name="A" id="B" value="B"  style="display: none;" checked>
                                        <label class="form-check-label border border-dark color@(i+2) pl-4 pr-4 pt-1 pb-1 mb-1" for="B" style="width: 100%">
                                            B) @Model.ExamQuestions[i+1].OptionB
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check p-0">
                                        <input class="form-check-input " type="radio" name="A" id="C" value="C"  style="display: none;" checked>
                                        <label class="form-check-label border border-dark color@(i+2) pl-4 pr-4 pt-1 pb-1 mb-1" for="C" style="width: 100%">
                                            C) @Model.ExamQuestions[i+1].OptionC
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check p-0">
                                        <input class="form-check-input " type="radio" name="A" id="D" value="D"  style="display: none;" checked>
                                        <label class="form-check-label border border-dark color@(i+2) pl-4 pr-4 pt-1 pb-1 mb-1" for="D" style="width: 100%">
                                            D) @Model.ExamQuestions[i+1].OptionD
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
        </div>
    }


</div>
<div class="row pb-5 pt-5">
    <div class="col-5"></div>
    <div class="col-2">
        <button class="btn btn-dark  btn-lg btn-block pt-4 pb-4">SINAVI TAMAMLA</button>
    </div>
    <div class="col-5"></div>
</div>